<!DOCTYPE html>
<html>
<head>
  <title>Destiny</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="assets/plugins/pace/pace.min.js"></script>
  <%= csrf_meta_tags %>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
  <body class="background-light twlsky-red twlsky-mixedcolours isolated-sections loader-bar">
    <div class="outer-container clearfix">
      <%= render partial: 'layouts/header' %>
      <%= yield %>
      <%= render partial: 'layouts/footer' %>
      <%= render partial: 'layouts/beneath_footer' %>
    </div>

    <%= render 'layouts/js_assets' %>
  </body>
</html>
